{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="jumbotron">
        <h1 class="text-center text-info">Panier</h1>
    </div>
<div class="container">
    <div class="test">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
   
    {% if panier %}
        <div class="text-info">
            <strong>Prix total {{ total }}</strong>
        </div>
        {{ form(form) }}
        {% for produit in panier %}   
        <div class="card">
            <div class="card-body">
            {% if produit.filename %}
                <img class="float-right" src="/images/produits/{{ produit.filename }}" style="height:auto; width:300px;">
            {% endif %} 
                <div class="card-head">
                    <h3 class="text-primary">{{ produit.nom }}</h3>
                </div>
                <strong><p class="text-success">Prix : {{ produit.prix }}</P></strong>
                <strong><p class="text-info">Quantité : {{ produit[0].qtt }}</P></strong>
                <strong>
                    {% if produit[0].liv == 1 %}
                        <p class="text-info">Livraison : oui</p>
                    {% endif %}
                    {% if produit[0].liv == 0 %}
                        <p class="text-info">Livraison : non</p>
                    {% endif %}
                </strong>
                <p>Description :  {{ produit.descProd }}</P>
                <a class="btn btn-warning" href="{{ path('panier.edit', {id:produit[0].id, prodId:produit.id }) }}">Modifier</a>
                <a class="btn btn-danger" href="{{ path('panier.supp', {id:produit[0].id}) }}">Supprimer</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
       <div><h3 class="text-danger">Votre panier est vide ! </h3></div>
    {% endif %}
    </div>
    </div>
       
{% endblock %}
