{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center text-info">Liste des produits disponible</h3>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorie
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path('index') }}">Tous les produits</a>
                <a class="dropdown-item" href="{{ path('index.categorie.ordinateurs') }}">Ordinateurs</a>
                <a class="dropdown-item" href="{{ path('index.categorie.ecrans') }}">Ecrans</a>
                <a class="dropdown-item" href="{{ path('index.categorie.claviers') }}">Claviers</a>
                <a class="dropdown-item" href="{{ path('index.categorie.souris') }}">Souris</a>
            </div>
        </div>
        <div class="row justify-content-between">
        {% for produit in list %}
            <div class="col-4">
                <div class="card">
                    {% if produit.filename %}
                        <img src="/images/produits/{{ produit.filename }}" style="height:100%px; width:100%;">
                    {% endif %}
                    <h5 class="text-center">
                        <a href="{{ path('produit.show', { id:produit.id}) }}">{{produit.nom}}</a>
                    </h5>
                    <p class="text-success text-center">Prix : {{produit.prix}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}
