{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="jumbotron">
            <h1 class="text-center text-info">Liste des produits disponible</h1>
    </div>
    <div class="jumbotron float-left" style="height: 600px; width: 20%; margin: 20px;">
        <div class="text-info"><h3>Filtrer par : </h3></div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8"> {{ form_row(form.minPrix)}} </div>
            <div class="col-md-8"> {{ form_row(form.maxPrix)}} </div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-outline-success">Recherche</a>
    {{ form_end(form) }}
    </div>
    <div class="container">
        <div class="test">
        {% for message in app.flashes('success') %}
        <div style="margin-left:200px;" class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div style="margin-left:200px;" class="alert alert-danger text-center">{{ message }}</div>
        {% endfor %}
        <div class="dropdown">
            <a style="margin-bottom: 25px; margin-left: 20px;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorie
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path('index') }}">Tous les produits</a>
                <a class="dropdown-item" href="{{ path('index.categorie.ordinateurs') }}">Ordinateurs</a>
                <a class="dropdown-item" href="{{ path('index.categorie.ecrans') }}">Ecrans</a>
                <a class="dropdown-item" href="{{ path('index.categorie.claviers') }}">Claviers</a>
                <a class="dropdown-item" href="{{ path('index.categorie.souris') }}">Souris</a>
            </div>
        </div>
        
        <div class="row justify-content-between">
        {% if list %}
            {% for produit in list %}
                <div class="col-4">
                    <div class="card bg-light">
                        {% if produit.filename %}
                            <img src="/images/produits/{{ produit.filename }}" style="height:100%; width:100%;">
                        {% endif %}
                        <h5 class="text-center">
                            <a href="{{ path('produit.show', { id:produit.id}) }}">{{produit.nom}}</a>
                        </h5>
                        <p class="text-success text-center">Prix : {{produit.prix}} dt</p>
                    
                        <a class="btn btn-success" href=" {{ path('index.ajouter.panier', {id:produit.id}) }} ">Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div><h3 class="text-danger">Aucun produit trouvé ! </h3></div>
        {% endif %}
        </div>
        <div class="navigation" style="margin-top:20px; margin-left: 36%;">
            {{ knp_pagination_render(list) }}
        </div>
        </div>
    </div>
{% endblock %}
