{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="jumbotron text-center"><h1 class="text-info">Caractéristique du produit : </h1></div>
    <div class="container">
    <div class="test">
        {% if produit.filename %}
            <img class="float-left" src="/images/produits/{{ produit.filename }}" style="height:auto; width:300px;">
        {% endif %}
        <div class="card">
            <div class="card-head">
                <h3 class="text-info">{{produit.nom}}</h3>
            </div>
            <div class="card-body">
                <strong><p class="text-success">Prix : {{produit.prix}} dt</p></strong>
                <p class="">Description : {{produit.descProd}}</p>
                {% if produit.qtt == 0 %}
                        <strong class="text-danger text-center" >NON DISPONIBLE</strong>
                    {% else %}
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-4"> {{ form_row(form.qtt)}} </div>
                                <div class="col-md-4"> {{ form_row(form.liv)}} </div>
                            </div>
                        {{ form_widget(form) }}
                        <button class="btn btn-success">Acheter</button>
                        {{ form_end(form) }}

                {% endif %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}
