{% extends 'base.html.twig' %}

{% block title %}AdminProduit!{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="text-info text-center">Admin</h1>
</div>
<div class="container">
<div class="test">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
<a class="btn btn-primary" href="{{ path('admin.ajouter') }}">Ajouter un nouveau produit</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td class="text-info">
                    {% if produit.filename %}
                        <img class="float-left" src="/images/produits/{{ produit.filename }}" style="height:auto; width:300px;">
                    {% endif %}  
                    &nbsp{{produit.nom}}
                </td>
                <td><a class="btn btn-success" href="{{ path('admin.edit', {id : produit.id}) }}">Editer</a>
               <a class="btn btn-danger" href="{{ path('admin.supp', {id : produit.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation" style="margin-top:20px; margin-left: 36%;">
            {{ knp_pagination_render(produits) }}
        </div>

    </div>
</div>
{% endblock %}
