{% extends 'base.html.twig' %}

{% block title %}AdminUser{% endblock %}

{% block body %}
<style>
    
</style>


<div class="jumbotron">
    <h1 class="text-info text-center">Admin</h1>
</div>
<div class="container">
<div class="test">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>  
                <th>Id</th>
                <th>Nom de l'utilisateur</th>
                <th>E-mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in listUsers %}
            <tr>
                <td class="text-info">
                    {{ user.id }}
                </td>
                <td class="text-info">
                    {{ user.username }}
                </td>
                <td class="text-info">
                    {{ user.email }}
                </td>
              <td> <a class="btn btn-warning" href="{{ path('admin.user.supp', {id: user.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation" style="margin-top:20px; margin-left: 36%;">
            {{ knp_pagination_render(listUsers) }}
        </div>
    </div>
</div>


{% endblock %}
