<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
            .test{
                min-height: 700px;
                width: auto;
            }
            body{
              background-image: url({{ asset('images/background/bbbb.png') }} );
              background-attachment: fixed;
              background-size: 100%;
            }
            .jumbotron{
              background-color: rgb(220, 220, 220);
            }
            .ico{
              width: 25px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
         
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Liste des produits</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('panier.produits') }}"><img class="ico" src="{{ asset('images/background/panier.png') }}">&nbspPanier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}"><img class="ico" src="{{ asset('images/background/registerIcon.png') }}">&nbspS'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contactez-nous</a>
                </li>
                {% if app.user %}
                  {% if app.user.roles == ["ROLE_ADMIN"] %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ path('admin_produit') }}">Gerer les produits</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ path('admin.user') }}">Gerer les utilisateurs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ path('admin_command') }}">Gerer les commandes</a>
                  </li>
                  {% endif %} 
                {% endif %}   

            </ul>
           
            <ul class="navbar-nav">
                 {% if app.user == false %}
                 <li class="nav-item">
                    
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                {% endif %}
                 {% if app.user %}
                 <li class="nav-item">
                    <a class="nav-link disabled" href="#">{{ app.user.getUserName }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnecter</a>
                </li>
              
                {% endif %}

            </ul>
        </nav>
        <div style="height: 50px;"></div>


        {% block body %}
      
        
        {% endblock %}
      

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: lightgrey;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
        sapientissimum iudicavit; huius enim facta, illius dicta laudantur. De me autem,
        ut iam cum utroque vestrum loquar, sic habetote</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Java</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">PHP</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">C</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Angular 8</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://www.facebook.com">Facebook</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://twitter.com">Twitter</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.google.com">Google</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://mail.google.com">Gmail</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> 7021 Zarzouna, Bizerte, Tunisia</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> wacef.stratrait@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 000000000</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 000000000</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <p class="dark-grey-text">Created by Wacef</p>
  </div>
</footer>
<!-- Footer -->
        
        {% block javascripts %}
        
        
        {% endblock %}

    </body>
</html>
