<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Liste des produits</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('panier.produits') }}">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">S'inscrire</a>
                </li>
            </ul>
           
            <ul class="navbar-nav">
                 {% if app.user == false %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                {% endif %}
                 {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnecter</a>
                </li>
                {% endif %}
            </ul>
        </nav>
         <div>
        {% if app.user %}
            <p>Vous éte connecté en tant que : <strong class="text-primary">{{ app.user.getUserName }}</strong></p>
        {% endif %}
    </div>
    <br>
        {% block body %}
      
        
        {% endblock %}
        {% block javascripts %}
        
        
        {% endblock %}

    </body>
</html>
